<div>

    <div style="overflow-x:auto">
        <b-table id="documentTransfers"
                 ref="documentTransfersTable"
                 hover
                 @sort-changed="onSortClicked"
                 no-local-sorting
                 :fields="fields"
                 :items="documentTransfers">
            <template slot="top-row" scope="data" :test="test(data)">
                <td v-for="field in data.fields">
                    <filter-component v-if="storeFilters[field.key]"
                                      updateFilterMethod="updateFilterDTsValue"
                                      resetFilterMethod="resetFilterDTs"
                                      :filter="storeFilters[field.key]" :value="field" @change="refreshTable"></filter-component>
                </td>
            </template>
            <template slot="content" scope="data">
                <span v-if="data.item.hasContent">
                    <v-btn flat round
                           color="indigo lighten-2 white--text"
                           title="Content"
                           value="assignment"
                           @click='onViewContentClick(data.item)'><v-icon class="mr-1">assignment</v-icon>doc</v-btn>
                </span>
            </template>
        </b-table>
    </div>

    <v-container fluid>
        <v-layout row wrap>
            <v-flex xs1 class="pt-1">
                Total rows:
            </v-flex>
            <v-flex xs1 class="pt-1">
                <span class="py-1" style="display:block; font-weight:bold">{{ pagedListMetaData.totalItemCount }}</span>
            </v-flex>
            <v-flex xs10>
                <v-pagination :length="pagedListMetaData.pageCount" v-model="currentPage"></v-pagination>
            </v-flex>
        </v-layout>
    </v-container>

    <content-view-component :show="showContent" :content="content"></content-view-component>

</div>