<v-dialog v-model="showModal" persistent max-width="960px">
    <v-card>
        <v-card-title class="headline grey lighten-0 white--text">
            <v-icon x-large dark class="mr-3">settings</v-icon>
            Data Task Configuration
        </v-card-title>
        <v-card-text>
            <v-container>

                <v-layout row>

                    <v-flex xs3 offset-xs3 class="px-4">
                        <v-switch class="my-1" label="Is Enabled" v-model="dataTask.Enabled" color="info" hide-details></v-switch>
                    </v-flex>

                    <v-flex xs3 class="px-4">
                        <v-switch class="my-1" label="Is Maintenance" v-model="dataTask.IsMaintenance" color="info" hide-details></v-switch>
                    </v-flex>

                    <v-flex xs3 class="px-4">
                        <v-switch class="my-1" label="Inactive" v-model="dataTask.Inactive" color="info" hide-details></v-switch>
                    </v-flex>

                </v-layout>

                <v-layout row>
                    <v-flex xs12 class="px-4">
                        <v-select v-bind:items="handlerSettingsSelectList"
                                  v-model="selectedHandler"
                                  label="Task Handler"
                                  :error-messages="errors.collect('taskHandler', scope)"
                                  v-validate="'required'"
                                  :data-vv-scope="scope"
                                  data-vv-name="taskHandler"
                                  data-vv-as="Task Handler"
                                  required
                                  :disabled="!isNew"
                                  ></v-select>
                    </v-flex>
                </v-layout>

                <v-layout row>
                    <v-flex xs6 class="px-4">
                        <v-text-field v-model="dataTask.DisplayName"
                                      label="Task Name"
                                      :error-messages="errors.collect('taskName', scope)"
                                      v-validate="'required'"
                                      :data-vv-scope="scope"
                                      data-vv-name="taskName"
                                      data-vv-as="Task Name"
                                      required></v-text-field>

                    </v-flex>
                    <v-flex xs6 class="px-4">
                        <v-text-field v-model="dataTask.GroupName"
                                      label="Group Name"
                                      :error-messages="errors.collect('groupName', scope)"
                                      v-validate="'required'"
                                      :data-vv-scope="scope"
                                      data-vv-name="groupName"
                                      data-vv-as="Group Name"
                                      required></v-text-field>
                    </v-flex>
                </v-layout>

                <v-layout row>

                    <v-flex xs3 class="px-4">
                        <v-text-field v-model="cronString"
                                      label="Cron string"
                                      :error-messages="errors.collect('Cron', scope)"
                                      v-validate="'cron|required'"
                                      :data-vv-scope="scope"
                                      data-vv-name="Cron"
                                      data-vv-as="Cron string"
                                      required></v-text-field>
                    </v-flex>

                    <v-flex xs7 class="px-4">
                        <cron-presets v-model="cronString"></cron-presets>
                    </v-flex>

                    <v-flex xs2 class="px-4">
                        <v-text-field v-model="dataTask.MaxRetries"
                                      label="Max Retries"
                                      :error-messages="errors.collect('maxRetries', scope)"
                                      v-validate="'required|numeric'"
                                      :data-vv-scope="scope"
                                      data-vv-name="maxRetries"
                                      data-vv-as="Max Retries"
                                      type="number"
                                      required></v-text-field>
                    </v-flex>

                </v-layout>

                <v-layout row class="pt-2" v-show="selectedHandler">
                    <v-flex xs3 class="pt-3 px-2">
                        <h6 class="">Task Parameters</h6>
                    </v-flex>
                    <v-flex xs7 px-2>
                        <v-btn flat round outline color="primary" dark :disabled="handlerSettingsIsDafault" @click.native.stop="handlerSettings.resetToDefault(); refreshList()">
                            reset to default
                        </v-btn>
                    </v-flex>
                </v-layout>

                <v-layout row v-show="selectedHandler">
                    <v-flex xs12 class="px-4">

                        <div class="scroll-box" style="height:100%" v-bind:style="{ 'max-height': height }">
                            <v-container>
                                <template v-for="(handlerSetting, index) in handlerSettingsList">
                                    <handler-setting v-model="handlerSetting.Value"
                                                     :initToggle="mut" 
                                                     :scope="scope"
                                                     :orderNum="'handlerSetting'+index" 
                                                     :handlerSetting="handlerSetting" @input="refreshList()"></handler-setting>
                                </template>
                            </v-container>
                        </div>

                    </v-flex>
                </v-layout>

            </v-container>
        </v-card-text>

        <v-card-actions class="p-3 grey lighten-3">

            <v-spacer></v-spacer>   

            <v-btn round title="Save Data Task Configuration" color="primary" dark @click="onSaveClick">
                <v-icon class="mr-2">save</v-icon>Save
            </v-btn>

            <confirmation v-model="showSaveConfirmation"
                          message="Do you want to SAVE Changes and Close?"
                          @onOkClicked="onSaveOkClicked">
            </confirmation>

            <v-btn round title="Discard Data Task Configuration" color="red" dark @click="showDiscardConfirmation = !showDiscardConfirmation">
                <v-icon class="mr-2">close</v-icon>Discard
            </v-btn>

            <confirmation v-model="showDiscardConfirmation"
                          message="Do you want to DISCARD Changes and Close?"
                          @onOkClicked="onDiscardOkClicked">
            </confirmation>

        </v-card-actions>

    </v-card>
</v-dialog>