<v-dialog v-model="dialogIsVisible" row justify-center max-width="400px">
    <v-card>
        <v-card-title class="grey lighten-0 white--text">
            <v-icon x-large dark class="mr-3">error_outline</v-icon>
            <div class="headline">{{ title }}</div>
        </v-card-title>
        <v-card-text class="p-4">{{ message }}</v-card-text>
        <v-card-actions class="p-1 grey lighten-3">
            <v-spacer></v-spacer>
            <v-btn color="green darken-1" flat="flat" @click.native.stop="onOkClicked">Yes</v-btn>
            <v-btn color="green darken-1" flat="flat" @click.native.stop="onCloseClicked">No</v-btn>
        </v-card-actions>
    </v-card>
</v-dialog>