<span>
    <v-menu offset-x
            :close-on-content-click="false"
            :full-width="true"
            :nudge-width="600"
            :max-width="600"
            v-model="menuActive">
        <v-btn icon slot="activator">
            <filter-icon v-if="!filter.isDefault()" />
            <filter-outline-icon v-if="filter.isDefault()" />
        </v-btn>
        <v-card>
            <v-card-title class="headline grey lighten-0 white--text">
                <filter-icon :width="36" :height="36" class="mr-3" style="fill:#fff" />
                {{ value.label }}
            </v-card-title>

            <multiselect-filter v-if="isMultiselectFilter()"
                                :value="filter.FilterData"></multiselect-filter>

            <date-filter v-if="isDateFilter()"
                         :dates="filter.Values"
                         v-model="filterData"></date-filter>

            <checkbox-filter v-if="isCheckBoxFilter()"
                             :items="filter.Values"
                             v-model="filterData"></checkbox-filter>

            <contain-filter v-if="isContainFilter()"
                            v-model="filter"></contain-filter>

            <v-card-actions class="p-3 grey lighten-3">
                <v-spacer></v-spacer>
                <v-btn color="primary" flat @click="onApplyClick">Apply</v-btn>
                <v-btn flat @click="onCancelClick">Cancel</v-btn>
                <v-btn flat @click="onResetClick" v-if="!filter.isDefault()"><filter-remove-icon /></v-btn>
            </v-card-actions>
        </v-card>
    </v-menu>
    
</span>