<div>
    <div v-show="showConsole" class="p-2" style="height:300px; overflow-y:auto; background-color:black; color:white ">
        <div v-for="message in consoleMessages">{{ message }}</div>
    </div>
    <!--<div class="my-1 row">
        <b-col class="pt-1" cols="2">
            <b-form-fieldset horizontal label="Rows per page" :label-cols="5">
                <b-form-select :options="pageOptions" v-model="perPage" />
            </b-form-fieldset>
        </b-col>
        <b-col class="pt-1" cols="2">
            <b-form-fieldset horizontal label="Filter" :label-cols="2">
                <b-form-input @keyup.native.enter="onFilterChange" v-model="filter" placeholder="Type to Search" />
            </b-form-fieldset>
        </b-col>
        <b-col cols="4">
            <div class="text-xs-center">
                <v-pagination :length="pagesCount" v-model="currentPage" circle></v-pagination>
            </div>
        </b-col>
    </div>-->
    <div style="overflow-x:auto">
        <b-table id="data-tasks"
                 ref="dataTasksTable"
                 hover
                 no-local-sorting
                 :busy.sync="isBusy"
                 @row-dblclicked="onEditTaskClick"
                 :sort-by.sync="sortBy"
                 :sort-desc.sync="sortDesc"
                 :fields="fieldds"
                 :items="dataTasks">
            <template slot="ExecLoc" scope="data">
                <v-btn icon flat outline
                       color="indigo lighten-2 white--text"
                       title="Execute task immediately"
                       :disabled="data.item.IsRunning"
                       @click='onExecLocalyTaskClick(data.item)'><i class="material-icons">flash_on</i></v-btn>
            </template>
            <template slot="ExecSch" scope="data">
                <v-btn icon flat outline
                       color="indigo lighten-2 white--text"
                       title="Execute task in scheduler"
                       :disabled="data.item.IsRunning"
                       @click='onExecInSchTaskClick(data.item)'><i class="material-icons">alarm</i></v-btn>
            </template>
            <template slot="Reset" scope="data">
                <v-btn icon flat outline
                       color="red lighten-2 white--text"
                       title="Reset task"
                       :disabled="!data.item.IsRunning"
                       @click='onResetTaskClick(data.item)'><i class="material-icons">flash_off</i></v-btn>
            </template>
            <template slot="Config" scope="data">
                <v-btn icon flat outline
                       color="teal lighten-2 white--text"
                       title="Configure task"
                       @click='onEditTaskClick(data.item)'><v-icon>settings</v-icon></v-btn>
            </template>
            <template slot="Delete" scope="data">
                <confirmation-button title="Delete task"
                                     iconName="delete_forever"
                                     :dialogMessage="'Do you want to Remove \'' + data.item.DisplayName + '\' Task?'"
                                     @onOkClicked="onDeleteTaskClick(data.item)"></confirmation-button>
            </template>
        </b-table>
    </div>
    
    <b-container>
        <b-row class="text-center">
            <b-col class="center">

                <v-btn round
                       title="Add new task"
                       color="teal lighten-2 white--text"
                       @click="onAddDatataskClick"
                       ><v-icon class="mr-2">link</v-icon> Add DataTask</v-btn>

                <v-btn round
                       color="indigo lighten-2 white--text"
                       title="Refresh Table"
                       @click="onRefreshTableClick"
                       ><v-icon class="mr-2">autorenew</v-icon> Refresh table</v-btn>

                <v-btn round color="green lighten-2 white--text"
                       @click="showConsole = !showConsole"><v-icon class="mr-2">clear_all</v-icon>Show console</v-btn>

            </b-col>
        </b-row>
    </b-container>
    
    <edit-task v-model="showEditTask" :dataTask="currentTask" @onClose="closeEditTask"> </edit-task>
    
    <execute-task-localy v-model="showExecuteTaskLocaly" :dataTask="currentTask" @onClose="closeExecuteTaskLocaly"> </execute-task-localy>

</div>