<div>
    
        <v-layout row wrap>
            <v-flex xs12>
                <!--<v-btn round
                       title="Add new task"
                       color="teal lighten-2 white--text"
                       @click="onAddDatataskClick"><v-icon class="mr-2">link</v-icon>Add DataTask</v-btn>

                <v-btn round
                       title="Add new group"
                       color="teal lighten-2 white--text"
                       @click="onAddGroupClick"><v-icon class="mr-2">link</v-icon>Add Group</v-btn>-->

                <!--<v-btn round
                       color="indigo lighten-2 white--text"
                       title="Refresh Table"
                       @click="onRefreshTableClick"><v-icon class="mr-2">autorenew</v-icon>Refresh table</v-btn>-->

                <!--<v-btn round color="green lighten-2 white--text"
                       @click="showConsole = !showConsole"><v-icon class="mr-2">clear_all</v-icon>Show console</v-btn>-->

            </v-flex>
        </v-layout>

    <v-layout row wrap>
        
        <v-flex xs12 class="px-2" v-for="(dataTaskGroup, i) in iDataTaskGroups" :key="i">
                
                <v-expansion-panel expand>
                    <v-expansion-panel-content  class="py-1 mb-1 grey lighten-4" >

                        <v-layout slot="header" row class="mx-1">
                            <v-flex xs1 class="text-xs-right">

                                <v-btn v-if="dataTaskGroup.groupOnly" icon flat
                                       class="m-0"
                                       color="indigo lighten-2 white--text"
                                       title="Execute group"
                                       :disabled="isGroupRunning(dataTaskGroup)"
                                       @click.stop='onExecGroupClick(dataTaskGroup)'><i class="material-icons">flash_on</i></v-btn>

                                <!--<v-btn v-if="dataTaskGroup.groupOnly" icon flat
               class="m-0"
               color="red lighten-2 white--text"
               title="Reset group"
               :disabled="!isGroupRunning(dataTaskGroup)"
               @click.stop='onResetGroupClick(createDataTaskGroup(dataTaskGroup))'><i class="material-icons">flash_off</i></v-btn>-->

                            </v-flex>

                            <v-flex xs2 class="">
                                <h6 style="display:inline-block" class="pl-2">{{dataTaskGroup.name}} ({{taskGroupStatus(dataTaskGroup).total}})</h6>
                                <v-layout row wrap>
                                    <v-flex xs12 class="pl-4">
                                        <template v-if="dataTaskGroup.dataTaskList.length">
                                            <span>is running: {{ taskGroupStatus(dataTaskGroup).isRunning }}</span>
                                            <span>, error: {{ taskGroupStatus(dataTaskGroup).error }}</span>
                                        </template>
                                        <template v-else="dataTaskGroup.dataTaskList.length">
                                            <span>no tasks</span>
                                        </template>
                                    </v-flex>
                                </v-layout>
                            </v-flex>

                            <v-flex xs2 class="my-2">
                                <template v-if="dataTaskGroup.groupOnly && dataTaskGroup.lastStartTime">
                                    Last Start Time: {{formatDate(dataTaskGroup.lastStartTime)}}
                                </template>
                            </v-flex>

                            <v-flex xs3 class="my-2">
                                <template v-if="dataTaskGroup.groupOnly && dataTaskGroup.nextStartTime">
                                    Next Start Time: {{formatDate(dataTaskGroup.nextStartTime)}}
                                </template>
                            </v-flex>

                            <v-flex xs3 class="text-xs-right py-2">
                                <span :class="getStatusColor(getGroupStatus(dataTaskGroup))">{{ getGroupStatus(dataTaskGroup) }}</span>
                            </v-flex>

                            <v-flex xs1 class="text-xs-right pr-2">
                                <v-btn icon flat
                                       class="m-0"
                                       color="teal lighten-2 white--text"
                                       title="Configure group"
                                       @click.stop='onEditGroupClick(createDataTaskGroup(dataTaskGroup))'><v-icon>settings</v-icon></v-btn>
                                <v-btn flat icon color="primary"
                                       class="m-0"
                                       @click.stop="onDeleteGroup(createDataTaskGroup(dataTaskGroup))"><v-icon>delete_forever</v-icon></v-btn>
                            </v-flex>
                        </v-layout>

                        <v-layout class="py-3" row wrap>
                            <v-flex xs12 class="px-4" v-for="(dataTask, j) in orderDataTasks(dataTaskGroup.dataTaskList)" :key="j">
                                   
                                    <v-expansion-panel class="task-expansion" expand>
                                        <v-expansion-panel-content  class="py-2">
                                     
                                            <v-layout slot="header" row>
                                                <v-flex xs1 class="mx-2 text-xs-right">
                                                    <v-btn v-if="!dataTaskGroup.groupOnly" icon flat
                                                           class="m-0"
                                                           color="indigo lighten-2 white--text"
                                                           title="Execute task immediately"
                                                           :disabled="isTaskRunning(dataTask)||dataTask.inactive"
                                                           @click.stop='onExecLocalyTaskClick(createDataTask(dataTask))'><i class="material-icons">flash_on</i></v-btn>
                                                    <v-btn v-if="!dataTaskGroup.groupOnly" icon flat
                                                           class="m-0"
                                                           color="indigo lighten-2 white--text"
                                                           title="Execute task in scheduler"
                                                           :disabled="isTaskRunning(dataTask)||dataTask.inactive"
                                                           @click.stop='onExecInSchTaskClick(createDataTask(dataTask))'><i class="material-icons">alarm</i></v-btn>
                                                    <v-btn icon flat
                                                           class="m-0"
                                                           color="red lighten-2 white--text"
                                                           title="Reset task"
                                                           :disabled="!isTaskRunning(dataTask)||dataTask.inactive"
                                                           @click.stop='onResetTaskClick(createDataTask(dataTask))'><i class="material-icons">flash_off</i></v-btn>
                                                </v-flex>
                                                <v-flex xs2 class="mx-2 py-2">
                                                    <span class="subheading">{{dataTask.displayName}}</span>
                                                </v-flex>
                                                <v-flex xs2 class="py-2">
                                                    <template v-if="!dataTask.inactive && dataTask.lastStartTime">
                                                        Last Start Time: {{formatDate(dataTask.lastStartTime)}}
                                                    </template>
                                                </v-flex>
                                                <v-flex xs2 class="py-2">
                                                    <template v-if="!dataTask.inactive && dataTask.nextStartTime">
                                                        Next Start Time: {{formatDate(dataTask.nextStartTime)}}
                                                    </template>
                                                </v-flex>
                                                <v-flex xs3 class="text-xs-right mx-2">
                                                    <!--{{ dataTask.executionOrder }}-->
                                                    <v-btn @click="changeOrder(orderDataTasks(dataTaskGroup.dataTaskList), j, j-1)" :disabled="j==0" flat icon class="m-0"><v-icon>arrow_upward</v-icon></v-btn>
                                                    <v-btn @click="changeOrder(orderDataTasks(dataTaskGroup.dataTaskList), j, j+1)" :disabled="j==(dataTaskGroup.dataTaskList.length-1)" flat icon class="m-0"><v-icon>arrow_downward</v-icon></v-btn>
                                                </v-flex>

                                                <v-flex xs1 class="text-xs-right py-2">
                                                    <span v-if="!dataTask.inactive" :class="getStatusColor(getTaskStatus(dataTask))">{{ getTaskStatus(dataTask) }}</span>
                                                    <span v-if="dataTask.inactive">task is inactive</span>
                                                </v-flex>

                                                <v-flex xs1 class="mx-2 text-xs-right pr-1">
                                                    <v-btn icon flat
                                                           class="m-0"
                                                           color="teal lighten-2 white--text"
                                                           title="Configure task"
                                                           @click.stop='onEditTaskClick(createDataTask(dataTask))'><v-icon>settings</v-icon></v-btn>
                                                    <v-btn flat icon
                                                           class="m-0"
                                                           color="primary"
                                                           @click.stop="onDeleteTask(createDataTask(dataTask))"><v-icon>delete_forever</v-icon></v-btn>
                                                </v-flex>
                                            </v-layout>
                                            <!--<v-layout class="pb-3" row>
                                                <v-flex xs12> other information </v-flex>
                                            </v-layout>-->

                                        </v-expansion-panel-content>
                                    </v-expansion-panel>

                            </v-flex>
                        </v-layout>

                    </v-expansion-panel-content>
                </v-expansion-panel>

            <!--</v-card>-->
        </v-flex>
    </v-layout>

    <!--<div style="overflow-x:auto">
        <b-table id="data-tasks"
                 ref="dataTasksTable"
                 hover
                 no-local-sorting
                 :busy.sync="isBusy"
                 @row-dblclicked="onEditTaskClick"
                 :sort-by.sync="sortBy"
                 :sort-desc.sync="sortDesc"
                 :fields="fieldds"
                 :items="dataTasks">
            <template slot="ExecLoc" scope="data">
                <v-btn icon flat outline
                       color="indigo lighten-2 white--text"
                       title="Execute task immediately"
                       :disabled="data.item.IsRunning"
                       @click='onExecLocalyTaskClick(data.item)'><i class="material-icons">flash_on</i></v-btn>
            </template>
            <template slot="ExecSch" scope="data">
                <v-btn icon flat outline
                       color="indigo lighten-2 white--text"
                       title="Execute task in scheduler"
                       :disabled="data.item.IsRunning"
                       @click='onExecInSchTaskClick(data.item)'><i class="material-icons">alarm</i></v-btn>
            </template>
            <template slot="Reset" scope="data">
                <v-btn icon flat outline
                       color="red lighten-2 white--text"
                       title="Reset task"
                       :disabled="!data.item.IsRunning"
                       @click='onResetTaskClick(data.item)'><i class="material-icons">flash_off</i></v-btn>
            </template>
            <template slot="Config" scope="data">
                <v-btn icon flat outline
                       color="teal lighten-2 white--text"
                       title="Configure task"
                       @click='onEditTaskClick(data.item)'><v-icon>settings</v-icon></v-btn>
            </template>
            <template slot="Delete" scope="data">

                <v-btn flat icon outline color="primary" dark @click.stop="onDeleteTask(data.item)"><v-icon>delete_forever</v-icon></v-btn>

            </template>
        </b-table>
    </div>

    <b-container>
        <b-row class="text-center">
            <b-col class="center">


            </b-col>
        </b-row>
    </b-container>-->

    <edit-task :dataTask="currentTask" @onClose="closeEditTask"> </edit-task>

    <edit-group scope="fromList" :dataTaskGroup="currentGroup" @onClose="closeEditGroup"> </edit-group>

    <execute-task-localy v-model="showExecuteTaskLocaly" :dataTask="currentTask" @onClose="closeExecuteTaskLocaly"> </execute-task-localy>

    <confirmation v-model="showConfirmation"
                  :okCallBack="confirmationCBFunc"
                  :message="confirmationMessage">
    </confirmation>

</div>