<v-app>

    <v-navigation-drawer fixed
                         clipped
                         app
                         v-model="drawer" class="grey lighten-3">
        <v-list dense>
            <template v-for="(item, i) in items">
                <!--<v-layout row
                          v-if="item.heading"
                          align-center
                          :key="i">
                    <v-flex xs6>
                        <v-subheader v-if="item.heading">
                            {{ item.heading }}
                        </v-subheader>
                    </v-flex>
                    <v-flex xs6 class="text-xs-center">
                        <a href="#!" class="body-2 black--text">EDIT</a>
                    </v-flex>
                </v-layout>-->
                <!--<v-list-group v-else-if="item.children" v-model="item.model" no-action>
                    <v-list-tile slot="item" @click="">
                        <v-list-tile-action>
                            <v-icon>{{ item.model ? item.icon : item['icon-alt'] }}</v-icon>
                        </v-list-tile-action>
                        <v-list-tile-content>
                            <v-list-tile-title>
                                {{ item.text }}
                            </v-list-tile-title>
                        </v-list-tile-content>
                    </v-list-tile>
                    <v-list-tile v-for="(child, i) in item.children"
                                 :key="i"
                                 @click="">
                        <v-list-tile-action v-if="child.icon">
                            <v-icon>{{ child.icon }}</v-icon>
                        </v-list-tile-action>
                        <v-list-tile-content>
                            <v-list-tile-title>
                                {{ child.text }}
                            </v-list-tile-title>
                        </v-list-tile-content>
                    </v-list-tile>
                </v-list-group>-->
                <v-list-tile @click="$router.push(item.routeTo)">
                    <v-list-tile-action>
                        <v-icon>{{ item.icon }}</v-icon>
                    </v-list-tile-action>
                    <v-list-tile-content>
                        <v-list-tile-title>
                            {{ item.text }}
                        </v-list-tile-title>
                    </v-list-tile-content>
                </v-list-tile>
            </template>
        </v-list>
    </v-navigation-drawer>
    <v-toolbar color="grey lighten-3"
               app
               clipped-left
               fixed>
        <v-toolbar-title :style="$vuetify.breakpoint.smAndUp ? 'width: 300px; min-width: 250px' : 'min-width: 72px'" class="ml-0 pl-3">
            <v-toolbar-side-icon @click.stop="drawer = !drawer"></v-toolbar-side-icon>

            <span class="hidden-xs-only">Scheduler console</span>
        </v-toolbar-title>

        <div v-if="isDataTasks">
            <v-btn round flat color="teal lighten-2 white--text"
                   title="Add new task"
                   @click="onAddDatataskClick"><v-icon class="mr-2">link</v-icon>Add DataTask</v-btn>
            <v-btn round flat color="teal lighten-2 white--text"
                   title="Add new group"
                   @click="onAddGroupClick"><v-icon class="mr-2">link</v-icon>Add Group</v-btn>
        </div>

                <v-select v-if="isEntityStatuses"
                          v-bind:items="pageOptions"
                          v-model="perPage"
                          hide-details
                          label="Rows per page"></v-select>
                <v-btn v-if="isEntityStatuses" @click="onResetEntityStatusFilter" :disabled="entityStatusFilterIsDefault">Reset all filters</v-btn>
                <v-btn v-if="isDataTasks" round flat color="indigo lighten-2 white--text"
                       title="Refresh Table"
                       @click="onRefreshTableClick"><v-icon class="mr-2">autorenew</v-icon>Refresh table</v-btn>
                <v-btn round flat color="green lighten-2 white--text"
                       title="Show Console"
                       @click="setShowConsole"><v-icon class="mr-2">clear_all</v-icon>Show console</v-btn>
        <!--<v-text-field light
      solo
      prepend-icon="search"
      placeholder="Search"
      style="max-width: 500px; min-width: 128px"></v-text-field>-->
        <!--<div class="d-flex align-center" style="margin-left: auto">
        <v-btn icon>
            <v-icon>apps</v-icon>
        </v-btn>
        <v-btn icon>
            <v-icon>notifications</v-icon>
        </v-btn>
        <v-btn icon large>
            <v-avatar size="32px" tile>
                <img src="https://vuetifyjs.com/static/doc-images/logo.svg"
                     alt="Vuetify">
            </v-avatar>
        </v-btn>
    </div>-->
    </v-toolbar>
    <v-content>
        <v-container fruid v-show="showConsole">
            <v-layout row wrap>
                <v-flex xs12>
                    <div class="p-2" style="height:300px; overflow-y:auto; background-color:black; color:white ">
                        <div v-for="message in consoleMessages">{{ message }}</div>
                    </div>
                </v-flex>
            </v-layout>
        </v-container>
        <v-container fluid>
            <router-view></router-view>
        </v-container>
    </v-content>

    <v-footer app class="pa-3" fixed variant="light">
        Version: {{ productVersion }}
        <v-spacer></v-spacer>
        <div>© CloudWorks Ltd., {{ new Date().getFullYear() }}</div>
    </v-footer>

    <div class="text-xs-center">
        <v-bottom-sheet inset :value="isDisconnect">
            <v-card tile>
                <v-progress-linear height="3" :value="50" class="my-0"></v-progress-linear>
                <v-list>
                    <v-list-tile>
                        <v-list-tile-content>
                            <v-list-tile-title>Connection lost...</v-list-tile-title>
                            <v-list-tile-sub-title>Trying to connect.</v-list-tile-sub-title>
                        </v-list-tile-content>
                    </v-list-tile>
                </v-list>
            </v-card>
        </v-bottom-sheet>
    </div>

    <div class="loading" :style="{display: visibility}"></div>
</v-app>