<v-layout row justify-center>
    <v-dialog v-model="dialogShow" scrollable max-width="1000px">
        <v-card>
            <v-card-title class="headline grey lighten-2">
                <v-icon x-large dark class="mr-3">assignment</v-icon>
                View {{ content.getType() }} document
            </v-card-title>
            <v-card-text style="height: 700px;">
                <highlight-code :lang="content.getTypeFormat()">
                    {{ content.toHTML() }}
                </highlight-code>
            </v-card-text>
            <v-card-actions class="p-3 grey lighten-3">
                <v-btn color="blue darken-1" flat @click.native="dialogShow = false">Close</v-btn>
            </v-card-actions>
        </v-card>
    </v-dialog>
</v-layout>
