<div>
    <!--<v-container>
        <v-layout row wrap>
            <v-flex xs2>
                <v-select v-bind:items="pageOptions"
                          v-model="perPage"
                          label="Rows per page"></v-select>
            </v-flex>
            <v-flex xs9  class="mx-4">
                <v-btn @click="onResetFilter" :disabled="filtersIsDefault">Reset all filters</v-btn>
            </v-flex>
        </v-layout>
    </v-container>-->
    <div style="overflow-x:auto">
        <b-table id="entity-statuses"
                 ref="entityStatusesTable"
                 hover
                 @sort-changed="onSortClicked"
                 no-local-sorting
                 :fields="fields"
                 :items="entityStatuses">
            <template slot="top-row" scope="data" :test="test(data)">
                <td v-for="field in data.fields">

                    <filter-component v-if="storeFilters[field.key]" 
                                      updateFilterMethod="updateFilterValue"
                                      resetFilterMethod="resetFilter"
                                      :filter="storeFilters[field.key]" :value="field" @change="refreshTable"></filter-component>

                </td>
            </template>
            <template slot="Reset" scope="data">
                <!--<span style="min-width: 98px; display:block; text-align:right">-->
                <!--<v-btn icon flat
                   class="m-0"
                   color="red lighten-2 white--text"
                   title="Reset entity status"
                   @click='onResetEntityStatus(data.item)'><i class="material-icons">compare_arrows</i></v-btn>-->
                <v-btn icon flat
                       v-if="isResendBtnVisible(data.item)"
                       class="m-0"
                       color="indigo lighten-2"
                       title="Resend entity status"
                       @click='onResedEntityStatus(data.item)'><i class="material-icons">send</i></v-btn>
                <!--</span>-->
            </template>
            <template slot="inContent" scope="data">
                <span v-if="data.item.hasInContent">
                    <v-btn flat round
                           color="indigo lighten-2 white--text"
                           title="In Content"
                           value="assignment"
                           @click='onViewInContentClick(data.item)'><v-icon class="mr-1">assignment</v-icon>doc</v-btn>
                </span>
            </template>
            <template slot="outContent" scope="data">
                <span v-if="data.item.hasOutContent">
                    <v-btn flat round
                           color="indigo lighten-2 white--text"
                           title="In Content"
                           @click='onViewOutContentClick(data.item)'><v-icon class="mr-1">assignment</v-icon>doc</v-btn>
                </span>
            </template>
            <template slot="statusMessage" scope="data">
                <v-btn v-if="data.item.statusMessage" icon flat
                       color="indigo lighten-2 white--text"
                       title="In Content"
                       @click='onStatusMessageClick(data.item)'><filter-remove-icon /></v-btn>{{ data.item.statusMessage }}
            </template>
        </b-table>
    </div>

    <v-container fluid>
        <v-layout row wrap>
            <v-flex xs1 class="pt-1">
                Total rows:
            </v-flex>
            <v-flex xs1 class="pt-1">
                <span class="py-1" style="display:block; font-weight:bold">{{ pagedListMetaData.totalItemCount }}</span>
            </v-flex>
            <v-flex xs10>
                <v-pagination :length="pagedListMetaData.pageCount" v-model="currentPage" ></v-pagination>
            </v-flex>
        </v-layout>
    </v-container>

    <content-view-component :show="showContent" :content="content"></content-view-component>

</div>