<div>
    <v-container>
        <v-layout row wrap>
            <v-flex xs1 class="mr-4">
                <v-select v-bind:items="pageOptions"
                          v-model="perPage"
                          label="Rows per page"></v-select>
            </v-flex>
            <v-flex xs2 class="mx-4">
                <v-text-field v-model="keyword.Value"
                              label="Search"
                              @keyup.native.enter="onFilterChange"></v-text-field>
            </v-flex>
            <v-flex xs8>
                <!--<v-btn @click="onApplyFilter">Apply filter</v-btn>-->
                <v-btn @click="onResetFilter" :disabled="filters.isDefault()==true">Reset filter</v-btn>
            </v-flex>
        </v-layout>
    </v-container>
    <b-table id="entity-statuses"
             ref="entityStatusesTable"
             hover
             :busy.sync="isBusy"
             :sort-by.sync="sortBy"
             :sort-desc.sync="sortDesc"
             :current-page="currentPage"
             :per-page="perPage"
             :fields="fields"
             :items="myProvider">
        <template slot="top-row" scope="data" :test="test(data)">
            <td v-for="field in data.fields">

                <ifilter v-if="field.filter" 
                         :value="filters[field.filter]"
                         :name="field.label" 
                         @input="onFFilterChange($event, field.filter)"
                         @change="refreshTable"></ifilter>
                
            </td>
        </template>
        <template slot="Reset" scope="data">
            <v-btn icon flat
                   color="red lighten-2 white--text"
                   title="Reset entity status"
                   @click='onResetEntityStatus(data.item)'><i class="material-icons">compare_arrows</i></v-btn>
        </template>
        <template slot="InContent" scope="data">
            <span v-if="data.item.getInContent().getContent()">
                <v-btn flat round
                       color="indigo lighten-2 white--text"
                       title="In Content"
                       value="assignment"
                       @click='onViewContentClick(data.item.getInContent())'><v-icon class="mr-1">assignment</v-icon>{{ data.item.getInContent().getType() }}</v-btn>
            </span>
        </template>
        <template slot="OutContent" scope="data">
            <span v-if="data.item.getOutContent().getContent()">
                <v-btn flat round
                       color="indigo lighten-2 white--text"
                       title="In Content"
                       @click='onViewContentClick(data.item.getOutContent())'><v-icon class="mr-1">assignment</v-icon>{{ data.item.getOutContent().getType() }}</v-btn>
            </span>
        </template>
        <template slot="StatusMessage" scope="data">
                <v-btn icon flat
                       color="indigo lighten-2 white--text"
                       title="In Content"
                       @click='onStatusMessageClick(data.item)'><filter-remove-icon /></v-btn>{{ data.item.StatusMessage }}
        </template>
    </b-table>

    <v-container fluid>
        <v-layout row wrap>
            <v-flex xs1 class="pt-1">
                Total rows:
            </v-flex>
            <v-flex xs1 class="pt-1">
                <span class="py-1" style="display:block; font-weight:bold">{{ pagedList.totalItemCount }}</span>
            </v-flex>
            <v-flex xs10>
                <v-pagination :length="pagesCount" v-model="currentPage" ></v-pagination>
            </v-flex>
        </v-layout>
    </v-container>

    <content-view :show="showContent" :content="content"></content-view>

    
    <v-container fluid>

        <v-layout row wrap>

            <v-flex xs7>
                <!--<multiselect v-model="statusMessageFilter.CheckedValues"
                             :options="statusMessageFilter.Values"
                             :close-on-select="false"
                             :multiple="true">
                </multiselect>-->
                <!--<checkbox-filter v-model="statusMessageFilter.CheckedValues" :cbFilter="statusMessageFilter"></checkbox-filter>-->
            </v-flex>

            <v-flex xs5>
                <!--<multiselect v-model="versionFilter.CheckedValues"
                             :options="versionFilter.Values"
                             :close-on-select="false"
                             :multiple="true">
                </multiselect>-->
                <!--<checkbox-filter v-model="statusMessageFilter.CheckedValues" :cbFilter="statusMessageFilter"></checkbox-filter>-->
            </v-flex>

        </v-layout>

        <v-layout row wrap>

            <v-flex xs2>
                <!--<contain-filter v-model="keyword.Value" :cbFilter="keyword"></contain-filter>-->
            </v-flex>

            <!--<v-flex xs2>
                <contain-filter v-model="versionFilter.Value" :cbFilter="versionFilter"></contain-filter>
            </v-flex>-->

        </v-layout>

    </v-container>
</div>