<div>
    <b-container>
        <b-row class="py-0">
            <b-col class="pt-1" cols="2">
                <b-form-fieldset horizontal label="Rows per page" :label-cols="5">
                    <b-form-select :options="pageOptions" v-model="perPage" />
                </b-form-fieldset>
            </b-col>
            <b-col class="pt-1" cols="2">
                <b-form-fieldset horizontal label="Filter" :label-cols="2">
                    <b-form-input @keyup.native.enter="onFilterChange" v-model="filter" placeholder="Type to Search" />
                </b-form-fieldset>
            </b-col>
            <b-col cols="4">
                <div class="text-xs-center">
                    <v-pagination :length="pagesCount" v-model="currentPage" circle></v-pagination>
                </div>
            </b-col>
            <b-col>
                <v-btn v-b-tooltip.hover.topright
                        round
                        title="Generate records"
                        color="teal lighten-2 white--text"
                        @click="onGenerateRecordsClick"><v-icon class="mr-2">link</v-icon>Generate 100 records</v-btn>
            </b-col>
        </b-row>
    </b-container>
    <b-table 
        id="entity-statuses"
        ref="entityStatusesTable" 
        hover 
        :busy.sync="isBusy" 
        :sort-by.sync="sortBy"
        :sort-desc.sync="sortDesc"
        :current-page="currentPage"
        :per-page="perPage"
        :fields="fields" 
        :items="myProvider">
        <template slot="InContent" scope="data">
            <span v-if="data.item.InContent">
                <v-btn v-b-tooltip.hover.topright
                    icon
                    color="indigo lighten-2 white--text"
                    title="In Content" 
                    @click='onViewContentClick(data.item.InContent)'><v-icon>assignment</v-icon></v-btn>XML
            </span>
        </template>
        <template slot="OutContent" scope="data">
            <span v-if="data.item.OutContent">
                <v-btn v-b-tooltip.hover.topright
                    icon
                    color="indigo lighten-2 white--text"
                    title="In Content" 
                    @click='onViewContentClick(data.item.OutContent)'><v-icon>assignment</v-icon></v-btn>JSON
                </span>
            </template>
        </b-table>
    <div class="col-md-4">
            <b-form-fieldset horizontal label="Total rows:" :label-cols="2">
                <span class="py-1" style="display:block; font-weight:bold">{{ pagedList.totalItemCount }}</span>
            </b-form-fieldset>
        </div>              
    <!--<b-container>
        <b-row class="text-center">
            <b-col class="center">
                <v-btn v-b-tooltip.hover.topright
                    round
                    title="Generate records" 
                    color="teal lighten-2 white--text"
                    @click="onGenerateRecordsClick"
                    ><v-icon class="mr-2">link</v-icon> Generate records </v-btn>-->
                <!--v-btn v-b-tooltip.hover.topright
                       round
                       color="indigo lighten-2 white--text"
                       title="Refresh Table" 
                       @click="refreshTable"
                       ><v-icon class="mr-2">autorenew</v-icon> Refresh table</v-btn-->
            <!--</b-col>
        </b-row>
    </b-container>-->
    <!--edit-task 
        :show="showEditTask" 
        :dataTask="currentTask"
        :handlersEnum="handlersEnum" 
        :handlers="handlers"
        @onClose="closeEditTask">
    </edit-task>
    <execute-task-localy :show="showExecuteTaskLocaly"
               :dataTask="currentTask"
               @onClose="closeExecuteTaskLocaly">
    </execute-task-localy> -->
</div>