<v-dialog v-model="value" persistent max-width="800px">
    <v-card>
        <v-card-title class="headline grey lighten-0 white--text">
            <v-icon x-large dark class="mr-3">flash_on</v-icon>
            Execute Task with custom parameters
        </v-card-title>
        <v-card-text>

            <h6 class="pt-1">Task Parameters</h6>

            <handler-settings :scope="scope" :initToggle="value" height="500px" :handlerSettings="handlerSettings"></handler-settings>

        </v-card-text>

        <v-card-actions class="p-3 grey lighten-3">

            <v-spacer></v-spacer>

            <v-btn round title="Execute " color="primary" dark @click="onExecuteClick">
                <v-icon class="mr-2">directions_run</v-icon>Execute
            </v-btn>

            <confirmation v-model="showConfirmation"
                          message="Do you really want to execute task?"
                          @onOkClicked="Execute">
            </confirmation>

            <v-btn round title="Discard Data Task Configuration" color="red" dark @click="onCloseClick">
                <v-icon class="mr-2">close</v-icon>Close
            </v-btn>

        </v-card-actions>

    </v-card>
</v-dialog>