    <div>
    <b-modal ref="execute-task-localy-modal"
                id="execute-task-localy-modal"
                size="lg"
                header-bg-variant="light"
                v-model="showModal"
                title="Execute Task Localy"
                @hidden="onModalHidden"
                @ok="onExecuteClick"
                >
        <h6 class="pt-1">Task Parameters</h6>
        
        <handler-settings v-model="handlerSettings" :initToggle="show" height="500px"></handler-settings>

        <template slot="modal-footer">

            <v-btn round v-b-tooltip.hover.topright title="Execute " color="primary" dark @click.native.stop="onExecuteClick">
                <v-icon class="mr-2">directions_run</v-icon>Execute
            </v-btn>

            <v-btn round v-b-tooltip.hover.topright title="Discard Data Task Configuration" color="red" dark @click.native.stop="onCloseClick">
                <v-icon class="mr-2">close</v-icon>Close
            </v-btn>

        </template>

    </b-modal>
</div>