<div class="pt-2">
    <b-row class="pt-3">
        <b-col cols="2" class="pt-3 text-right">New setting:</b-col>
        <b-col cols="3" class="pt-2">
            <b-form-input ref="name-input"
                          v-model="editedValue.name"
                          @keyup.native.enter="onAddCustomHandlerClick"
                          placeholder="Name">
            </b-form-input>
        </b-col>

        <b-col cols="6" class="pt-2">
            <b-form-input ref="value-input"
                          v-model="editedValue.value"
                          @keyup.native.enter="onAddCustomHandlerClick"
                          placeholder="Value">
            </b-form-input>
        </b-col>

        <b-col cols="1">
            <v-btn icon
                   @click="onAddCustomHandlerClick">
                <i class="material-icons">arrow_upward</i>
            </v-btn>
        </b-col>
    </b-row>
</div>