.custom-params-component .scroll-box {
    overflow-y: auto;
    overflow-x: auto;
    border: 1px dashed #eee;
}

.custom-params-component .scroll-box div:nth-child(odd) div.row {
    background: #f8f9fa
}
