<v-layout row>
    
    <!--<v-flex xs1 class="px-2">
        <v-btn flat icon
               color="indigo lighten-1"
               @click="onClick"><span v-html="getIcon"></span></v-btn>
    </v-flex>-->
    
    <v-flex xs12 class="px-4">
        
        <v-switch class="my-3" v-if="isBool"
                  :label="handlerSetting.Name"
                  v-model="editValue"
                  color="info"
                  true-value="true"
                  false-value="false"
                  hide-details></v-switch>

        <v-select v-else-if="isSelectBox" :prepend-icon="getIcon"
                  :items="handlerSetting.Options"
                  v-model="editValue"
                  :label="handlerSetting.Name"
                  :error-messages="errors.collect(orderNum, scope)"
                  combobox
                  v-validate="validationString"
                  :data-vv-scope="scope"
                  :data-vv-name="handlerSetting.Name"
                  :data-vv-as="handlerSetting.Name"
                  :required="handlerSetting.IsRequired"></v-select>

        <date-handler-setting v-else-if="isDateTime||isDate" 
                              v-model="editValue"
                              :scope="scope"
                              :handlerSetting="handlerSetting"
                              :orderNum="orderNum"></date-handler-setting>

        <v-text-field v-else :prepend-icon="getIcon"
                      v-model="editValue"
                      :label="handlerSetting.Name"
                      :error-messages="errors.collect(orderNum, scope)"
                      v-validate="validationString"
                      :data-vv-scope="scope"
                      :data-vv-name="orderNum"
                      :data-vv-as="handlerSetting.Name"
                      :type="'text'"
                      :clearable="!handlerSetting.IsRequired"
                      :required="handlerSetting.IsRequired"></v-text-field>

    </v-flex>

</v-layout>
