<v-layout row>
    
    <v-flex xs1 class="pl-3 pr-1">
        <v-btn flat icon
               color="indigo lighten-2"
               @click="onClick"><span v-html="getIcon"></span></v-btn>
    </v-flex>
    
    <v-flex xs10 class="p-2">
        
        <v-switch v-if="isBool"
                  :label="handlerSetting.Name"
                  v-model="editValue"
                  color="info"
                  true-value="true"
                  false-value="false"
                  hide-details></v-switch>

        <v-select v-else-if="isSelectBox" 
                  :items="handlerSetting.Options"
                  v-model="editValue"
                  :label="handlerSetting.Name"
                  v-validate="validationString"
                  :data-vv-name="handlerSetting.Name"
                  :data-vv-as="handlerSetting.Name"
                  :required="handlerSetting.IsRequired"></v-select>

        <v-menu lazy
                v-else-if="isDateTime||isDate" 
                :close-on-content-click="true"
                transition="scale-transition"
                offset-y
                full-width
                :nudge-right="40"
                max-width="290px"
                min-width="290px">
            <v-text-field slot="activator"
                          :label="handlerSetting.Name"
                          :error-messages="errors.collect(orderNum)"
                          v-validate="validationString"
                          v-model="editValue"
                          :data-vv-name="orderNum"
                          :data-vv-as="handlerSetting.Name"
                          :required="handlerSetting.IsRequired"
                          ></v-text-field>
            <v-date-picker v-model="editValue" no-title scrollable actions> </v-date-picker>
        </v-menu>

        <v-text-field v-else
                      v-model="editValue"
                      :label="handlerSetting.Name"
                      :error-messages="errors.collect(orderNum)"
                      v-validate="validationString"
                      :data-vv-name="orderNum"
                      :data-vv-as="handlerSetting.Name"
                      :required="handlerSetting.IsRequired"></v-text-field>

    </v-flex>

</v-layout>
