<div class="scroll-box" style="height:100%" v-bind:style="{ 'max-height': height }">
    <v-container>
        <template v-for="(handlerSetting, index) in handlerSettingsList">
            <handler-setting :scope="scope"
                             v-model="handlerSetting.Value" 
                             :initToggle="initToggle" 
                             :orderNum="scope+'_'+index" 
                             :handlerSetting="handlerSetting"></handler-setting>
        </template>
    </v-container>
</div>